<nav class="navbar navbar-expand-lg navbar-dark" style="margin-bottom: 20px; background-color: #6f42c1;">
  <a class="navbar-brand" [routerLink]="'/'"><img src="/sms/assets/logo.gif" style="width: 40px;height: 41px;"></a>

  <button type="button" class="btn navbar-toggler" style="font-size: 17px;color: white;" data-toggle="collapse"
    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
    aria-label="Toggle navigation">메뉴</button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActive]="'active'">
        <a class="nav-link" [routerLink]="'size'">사이즈 표</a>
      </li>
      <li class="nav-item" [routerLinkActive]="'active'">
        <a class="nav-link" [routerLink]="'alarm'">알람 관리</a>
      </li>
    </ul>
  </div>
</nav>
<div style="padding:0px 20px 0px 20px">
  <router-outlet></router-outlet>
</div>